<%- include('includes/head')%>
  <%- include('includes/nav')%>

    <div class="conteiner">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3 text-center">
          
          <%- include('includes/messages') %>      
              
          <h1>Olá <%=user.email %></h1>
          <p>Você precisar sair para criar outra conta.</p>
            
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer')%>